<md-subheader class="md-no-sticky">Coursera</md-subheader>
<md-content layout="row" layout-wrap layout-align="center center">
  <md-card flex="30"  ng-repeat="item in dashboard.coursera">
   <md-card-content>
     <h2>{{item.title}}</h2>
     <p>{{item.description}}</p>
      <md-action-bar layout="row" layout-align="end end">
        <md-button>Ver</md-button>
        <md-button>Editar</md-button>
      </md-action-bar>
   </md-card-content>
  </md-card>
</md-content> 

<md-subheader class="md-no-sticky">edX</md-subheader>
<md-content layout="row" layout-wrap layout-align="center start">
  <md-card flex="30" ng-repeat="item in dashboard.edx">
   <md-card-content>
     <h2>{{item.title}}</h2>
     <p>{{item.description}}</p>
      <md-action-bar layout="row" layout-align="end end">
        <md-button>Ver</md-button>
        <md-button>Editar</md-button>
      </md-action-bar>
   </md-card-content>
  </md-card>
</md-content> 