
<md-list>
  <md-subheader class="md-no-sticky">Coursera</md-subheader>
  <md-list-item layout="row" class="md-2-line" ng-repeat="item in dashboard.coursera">
    <md-button flex>
      <div class="md-list-item-text" layout="row">
        <h3 flex="20">{{item.title}}</h3>
        <p flex>{{item.description}}</p>
      </div>
    </md-button>
    
  </md-list-item>

  <md-subheader class="md-no-sticky">edX</md-subheader>
  <md-list-item layout="row" class="md-2-line" ng-repeat="item in dashboard.edx">
    <md-button flex>
      <div class="md-list-item-text" layout="row">
        <h3 flex="20">{{item.title}}</h3>
        <p flex"80">{{item.description}}</p>
      </div>
    </md-button>
    
  </md-list-item>
</md-list>